{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="container">
  
        <div class="row">
          {% for product in products %}
          <div class="col-lg-4 col-md-6 mb-5">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="{{product.image.url}}" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">{{product.name}}</a>
                </h4>
                <h5>{{product.price|floatformat:2}}</h5>
                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <button  class="btn btn-outline-success add-btn">Buy Now</button>
              </div>
              
            </div>
          </div>
          {% endfor %}
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
    </div>
{% endblock content %}
